
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
  margin: 20px;
}

.welcome {
  margin: 20px 10px;
  text-align: center;
}

.welcome h1 {
  margin-bottom: 50px;
}

.theMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-decoration: none;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.8rem;
}

.movieLinks, .timeLinks {
  background-color: black;
  color: white;
  margin-top: 15px;
}

.linkStyle {
  text-decoration: none;
  color: white;
}

.seatContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  margin: 10px 0;
}

.oneSeat {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  color: black;
}

.taken {
  background-color: red;
}

.booked {
  background-color: blue;
}

.free {
  background-color: green;
}

.submitButton {
  padding: 5px;
}