* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

.movieLinks, .timeLinks {
  display: inline-block;
  text-decoration: none;
  background-color: darkcyan;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.linkStyle {
  text-decoration: none;
  color: white;
}

.seatContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  margin: 10px 0;
}

.oneSeat {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

.taken {
  background-color: red;
}

.free {
  background-color: green;
}