
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: black;
  min-height: 100vh;
}

.todaysDate {
  display: inline-block;
  color: darkgray;
  position: fixed;
  right: 20px;
  font-size: 0.8rem;
  bottom: 10px;
}

/* HEADER */
.headerImgDiv {
  position: relative;
  width: 100vw;
}

.headerImg {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  opacity: 70%;
}

.gradient {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 72%);
}

/* MOVIE PAGE */
.theMovies {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movieCard {
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
}

.movieLinks {
  max-width: 200px;
}

.movieLinks p {
  color: darkgray;
  font-size: 0.8rem;
}

.movieCard img {
  width: 100%;
  border-radius: 5px;
  filter: grayscale(20%); 
  cursor: pointer;
}

.welcome {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.6rem;
  padding: 10px;
  border: 4px double goldenrod;
  background-color: black;
  border-radius: 5px;
  z-index: 100;
}

h1, h2, h3, h4 {
  text-align: center;
  color: antiquewhite;
}

.welcome .theScreen {
  display: none;
  margin: auto;
}

/* TIME PAGE */

.theGreatTimeDiv {
  display: grid;
  justify-content: center;
  align-items: center;
}

.theGreatTimeDiv img {
  width: 100vw;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0;
}

.theGreatTimeDiv p {
  color: antiquewhite;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}

.theGreatTimeDiv .gradient{
  height: 100%;
 left: 0;
 top: 0;
}

.headingTimeSeats {
  margin-top: 300px;
  z-index: 2;
}

.timeContainer {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.timeLinks {
  text-align: center;
  font-size: 0.8rem;
  background-color:brown;
  color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  max-width: 50px;
  cursor: pointer;
}

/* THE MOVIE SCREEN */

.theScreen {
  min-height: 70px;
  max-width: 200px;
  margin: 25px;
  position: relative;
  /* background-color:black; */
  z-index: -1;
}

.topCurtain {
  background-color:brown;
  min-height: 30px;
  border-bottom: 1px solid black;
}

.leftCurtain {
  width: 30px;
  min-height: 70px;
  background-color: brown;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(165,45,45,1) 4%);
}

.rightCurtain {
  width: 30px;
  min-height: 70px;
  background-color: brown;
  position: absolute;
  right: 0;
  bottom: 0;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(165,45,45,1) 4%);
}


/* SEAT PAGE */

.theGreatSeatDiv {
  display: flex;
  justify-content: center;
}

.theGreatSeatDiv h2 {
  margin: auto;
}

.theGreatSeatDiv img, .theGreatConfirmationDiv img {
  width: 100vw;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0;
}

.theGreatSeatDiv .gradient, .theGreatConfirmationDiv .gradient {
height: 100%;
 left: 0;
 top: 0;
}

.theSeats .theScreen {
  min-height: 70px;
  max-width: 200px;
  margin: 25px;
  z-index: 2;
}
.theSeats {
  width: 200px;
  margin: auto;
  position: absolute;
  z-index: 2;
}

.seatContainer {
  max-width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
  max-width: 200px;
 
}

.oneSeat {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: antiquewhite;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.colorMeaning {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.colorMeaning div {
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
  border-radius: 5px;
}

.colorMeaning p {
  color: antiquewhite;
}

.taken {
  background-color:brown;
}

.booked {
  background-color:darkgrey;
}

.free {
  background-color:antiquewhite;
  color: black;
}

.submitButton {
  padding: 5px 10px;
  border: none;
  margin-left: 25px;
  margin-top: 20px;
  font-size: 0.7rem;
  background-color: antiquewhite;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* CONFIRMATION PAGE */

.theGreatConfirmationDiv {
  display: flex;
  justify-content: center;
}

.headingBookingButton {
  width: 300px;
  position: absolute;

}

.newBooking {
  padding: 5px 10px;
  border: none;
  font-size: 0.7rem;
  margin-top: 10px;
  background-color: antiquewhite;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}


.confirmedBooking {
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  background-color:brown;
  border-radius: 5px;
  color: antiquewhite;
}

.thankYou {
  margin-bottom: 15px;
}

/* BUTTONS */
.backToMovies, .backToTime {
 position: fixed;
  left: 20px;
  bottom: 10px;
  z-index: 2;
  padding: 5px 10px;
  border: none;
  font-size: 0.7rem;
  margin-top: 10px;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  .theMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .theGreatMovieDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: auto;
  }

  .theGreatTimeDiv {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 100px;
    left: auto;
  }

  .theGreatSeatDiv {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 100px;
    left: auto;
  }
}

@media (min-width:801px) {
  .theMovies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 70%;
    gap: 20px;
    top: 320px;
  }

  .movieLinks {
    font-size: 0.6rem;
  }

  .timeContainer {
    min-width: 200px;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .movieCard img {
    width: 200px;
    height: 280px;
    object-fit: cover;
  }

  .headerImg {
    max-height: 300px;
    object-fit: cover;
    object-position: top;
  }

}

@media (min-width: 1200px) {
  .theMovies {
    display: flex;
    flex-direction: row;
  }

}